<section>
  <div>
    <h1>Some title</h1>
    <article>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eaque maxime illo eius, quas, magnam repudiandae iusto hic 
      animi culpa doloribus reiciendis in amet ipsa magni similique vero tempora consectetur? Lorem ipsum dolor sit amet consectetur a
      dipisicing elit. Dolor fugit, numquam ut iusto reprehenderit doloribus maxime nisi in fugiat est. Porro deleniti officia aliquam 
      distinctio veniam iusto quia recusandae? Quos!
    </article>
  </div>
  <button type="button">
    <img ngSrc="./" priority fill alt="Funny image">
  </button>
</section>
