@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/responsive';

button {
  position: relative;
  width: 33vw;
  height: 40vw;
  @include tablet-size {
    width: 53vw;
    height: 60vw;
  }
  @include phone-size {
    width: 73vw;
    height: 80vw;
  }
}

section {
  background-color: $second-color;
  padding: 10vw 15vw;
  display: flex;
  gap: 7vw;
  align-items: center;
  @include tablet-size {
    flex-direction: column;
  }
}

div {
  width: 30vw;
  @include tablet-size {
    width: 100%;
  }
}
