@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/responsive';

button {
  position: relative;
  width: 40vw;
  height: 25vw;
}

section {
  background-color: $second-color;
  padding: 10vw 15vw;
  display: flex;
  gap: 7vw;
  align-items: center;
  @include tablet-size {
    flex-direction: column;
  }
}

div {
  width: 30vw;
  @include tablet-size {
    width: 100%;
  }
}
