<section>
  <div>
    <h1>Through the years</h1>
    <article>
      I have built projects and applications where my focus is on delivering on time something better than expected. I 
      have created multiple full-stack websites by myself and also in teams so I have a good amount of knowledge when 
      it comes to web development.<br><br>I worked at League Genius as their frontend developer (from June 2024 to October 2024). 
      Here I learned a lot and improved my frontend skills like never before. I had a taste of real web development experience in a 
      US company and I loved it! We used google chat to have meetings where I had to explained and showcase the github issues that were assigned
      to me.<br><br>I studied at Microverse (from March 2023 to March 2024) where I polished my technical 
      knowledge and gained the opportunity to live and experiment collaboration with all kinds of people on a regular basis. 
      I was selected to be a mentor early on thus I learned what it feels to compensate your time so that you can work on 
      your projects and at the same time prepare material for mentees classes.<br><br>I worked in Konecta (from September 2022 to 
      February 2023) as a Proctor, Customer service representative and Security agent. I would monitor and allow or reject exams 
      taken by people from multiple backgrounds and countries from lawyers to high school students.<br><br>Prior to that I worked 
      in EXL services (from May 2022 to September 2022) as a bilingual customer service representative for a health care company 
      called Aetna. Finally I worked in Teleperformance (from September 2021 to May 2022) as a customer service agent.
    </article>
  </div>
  <button type="button">
    <img ngSrc="../../../../assets/girlGif.gif" priority fill alt="Funny image">
  </button>
</section>
