<footer>
  <div>
    <p>SAY HELLO</p>
    <p>cruzk1257&#64;gmail.com</p>
    <p>Kevin Cruz</p>
  </div>
  <ul>
    <li><a href=""><button type="button">
      <img alt="Kevin icon" ngSrc="../../../assets/images/icons/kevin-logo.png" fill priority>
    </button></a></li>
    <li><a href="https://www.linkedin.com/in/kevin-cruz-developer/" target="_blank"><button type="button">
      <img alt="LinkedIn icon" ngSrc="../../../assets/images/icons/linkedIn-logo.png" fill>
    </button></a></li>
    <li><a href="https://github.com/EvansSnave" target="_blank"><button type="button">
      <img alt="GitHub icon" ngSrc="../../../assets/images/icons/github-logo.png" fill>
    </button></a></li>
    <li><a href="https://twitter.com/KevinCruzDev" target="_blank"><button type="button">
      <img alt="X icon" ngSrc="../../../assets/images/icons/x-logo.png" fill>
    </button></a></li>
  </ul>
</footer>
