main {
  display: flex;
  height: 35vw;
  padding: 0 11vw;
  align-items: center;
  @include tablet-size {
    height: 80vw;
    flex-direction: column-reverse;
  }
  @include phone-size {
    height: 155vw;
  }
}

.left {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: $second-color;
  height: 100%;
  justify-content: center;
  padding: 8vw 0 0 15vw;
  @include tablet-size {
    width: 100%;
    height: 45vw;
    padding: 0;
    align-items: center;
  }
  @include phone-size {
    height: 100vw;
  }
}

.cont {
  width: 68%;
  margin-top: 5vw;
  @include tablet-size {
    width: 57%;
  }
  @include phone-size {
    width: 75%;
  }
}

.messages {
  display: flex;
  gap: 3vw;
  &>p {
    width: 50%;
  }
}

.titles {
  margin-bottom: 3vw;
}

h2 {
  margin-top: 1vw;
}

.full-stack {
  border-right: 0.15em solid $forth-color;
  margin: 0 auto;
  border-color: transparent;
  @include phone-size {
    font-size: 130%;
  }
}

.messages > p {
  position: relative;
  top: 5vw;
}

h2 {
  position: relative;
  top: 5vw;
}
