<main>
  <div class="left">
    <div class="cont">
      <div class="titles">
        <h1>Full-stack<br>developer.</h1>
        <h2>I create websites from the database to the style efficiently and eagerly</h2>
      </div>
      <div class="messages">
        <p>Experienced working with international teams</p>
        <p>Highly skilled at scalable applications</p>
      </div>
    </div>
  </div>
  <div class="right"></div>
  <div class="square"></div>
  <button type="button" class="image">
    <img ngSrc="../../../../assets/images/profile-image.jpg" priority fill alt="kevin profile picture">
  </button>
  <button type="button" class="stairs">
    <img ngSrc="../../../../assets/images/stairs.png" priority fill alt="detail">
  </button>
  <button type="button" class="stairs-2">
    <img ngSrc="../../../../assets/images/stairs.png" priority fill alt="detail">
  </button>
  <button type="button" class="stairs-3">
    <img ngSrc="../../../../assets/images/stairs.png" priority fill alt="detail">
  </button>
  <button type="button" class="points">
    <img ngSrc="../../../../assets/images/points.png" priority fill alt="detail">
  </button>
  <button type="button" class="points-2">
    <img ngSrc="../../../../assets/images/points-2.png" fill alt="detail">
  </button>
</main>
