<main>
  <div class="left">
    <div class="cont">
      <div class="titles">
        <h1 class="full-stack">Full-stack developer.</h1>
        <h2>I create websites from the database to the style efficiently and eagerly</h2>
      </div>
      <div class="messages">
        <p>Experienced working with international teams</p>
        <p>Highly skilled at scalable and performant applications</p>
      </div>
    </div>
  </div>
  <button type="button" class="image">
    <img ngSrc="../../../../assets/images/profile-image.jpg" priority fill alt="kevin profile picture">
  </button>
</main>
