<main>
  <div class="left">
    <div class="cont">
      <div>
        <h1>Full-stack<br>developer.</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Beatae facere voluptatibus eius sit dolore reiciendis distinctio quis officia aliquid quam eum hic nisi, qui voluptates, 
          ex quia sunt excepturi magnam!</h2>
      </div>
      <div class="messages">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, itaque maiores rerum, voluptatum fugit officia ducimus quo est fuga, 
          consequatur quia qui quis delectus optio distinctio esse excepturi dicta amet?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, temporibus omnis molestiae aperiam corrupti delectus doloremque! 
          Incidunt, corrupti et possimus rem nulla animi vitae, excepturi obcaecati dicta molestias, enim fugiat?</p>
      </div>
    </div>
  </div>
  <div class="right"></div>
  <div class="square"></div>
  <button type="button" class="image">
    <img ngSrc="../../../../assets/images/profile-image.jpg" priority fill alt="kevin profile picture">
  </button>
  <button type="button" class="stairs">
    <img ngSrc="../../../../assets/images/stairs.png" priority fill alt="kevin profile picture">
  </button>
</main>
