.image {
  position: relative;
  width: 30vw;
  height: 30vw;
}

section {
  padding: 10vw 15vw;
}

h2 {
  text-align: center;
}

ul {
  margin: 3vw 0;
  display: flex;
}

.slider {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  padding: 0 2vw;
}

.prev, .next {
  position: absolute;
  z-index: 10;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.carousel {
  height: 100vh;
}

