.image {
  position: relative;
  width: 30vw;
  height: 30vw;
}

h2 {
  text-align: center;
}

.carousel {
  width: 30vw;
}

.carousel-container {
  padding: 0 !important;
}

.banner-container {
  margin: 0 !important;
}