<main>
  <h2>{{project.title}}</h2>
  <div class="carousel">
    <carousel 
      [infinite]="true" 
      [autoPlay]="true" 
      [autoPlayAtStart]="true"
      [displayAutoPlayControls]="false"
      [slideToShow]="1"
      [slideToScroll]="1"
      [autoPlayInterval]="5000"
      [counter]="false"
      [gapBetweenSlides]="0"
      [dots]="false"
      [arrows]="size >= 550"
    >
      @for (image of project.images; track $index) {
        <li class="carousel-slide"><button type="button" class="image">
          <img alt="Project showcase" [ngSrc]="image" fill>
        </button></li>
      }
    </carousel>
  </div>
  <article>
    <div [innerHTML]="project.description" class="description"></div>
    <div [innerHTML]="project.instructions"></div>
    <p>GitHub repository <a [href]="project.repositoryLink" target="_blank">here</a></p>
    <p>Active link 
      @if (project.activeLink != '') {
        <a [href]="project.activeLink" target="_blank">here</a>
      } @else {
        coming soon!
      }
    </p>
  </article>
</main>
<app-form></app-form>
