<main>
  <h2>{{project.title}}</h2>
  <div class="carousel">
    <carousel 
      [infinite]="true" 
      [autoPlay]="true" 
      [autoPlayAtStart]="true"
      [displayAutoPlayControls]="false"
      [slideToShow]="1"
      [slideToScroll]="1"
      [autoPlayInterval]="5000"
      [counter]="false"
      [gapBetweenSlides]="0"
      [animationTimingMs]="500"
      [dots]="false"
    >
      @for (image of project.images; track $index) {
        <li class="carousel-slide"><button type="button" class="image">
          <img alt="Project showcase" [ngSrc]="image" fill>
        </button></li>
      }
    </carousel>
  </div>
  <article>
    {{project.description}}
    <div>To see this project:<br>{{project.instructions}}</div>
    <p>GitHub repository <a [href]="project.repositoryLink">here</a></p>
    <p>Active link <a [href]="project.activeLink">here</a></p>
  </article>
</main>
<app-form></app-form>
