<section>
  <div class="up">
    <h1 class="tech">Technical skills</h1>
    <p>My stack is conformed by Javascript, ReactJS, Angular, Git/GitHub, SCSS, Ruby on Rails, PostgreSQL, C#, .NET and Docker. 
      I have worked in +90 projects, given +40 code reviews and mentored +20 students teaching them technical skills. 
      I have an affinity to design</p>
  </div>
  <div class="down">
    <h1 class="soft">Soft skills</h1>
    <p>I've worked in around +50 different international teams developing websites from scratch. I know how to work with people from other 
      countries and cultures. I can collaborate in a fast paced environment and I developed leadership skills both working with my teams and in my mentoring 
      sessions
    </p>
  </div>
</section>
