<section>
  <div class="up">
    <h1>Lorem ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Sit ducimus et blanditiis numquam accusantium quae omnis quos? Consequatur odit recusandae aperiam ab unde temporibus est. 
      Itaque nulla neque at pariatur!</p>
  </div>
  <div class="down">
    <h1>Lorem ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Sit ducimus et blanditiis numquam accusantium quae omnis quos? Consequatur odit recusandae aperiam ab unde temporibus est. 
      Itaque nulla neque at pariatur!</p>
  </div>
</section>
