section {
  height: 100vh;
  padding: 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

div {
  width: 35vw;
}

.up {
  margin-bottom: 10vw;
}

.tech {
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
  animation-timeline: view(45% 40%);
  bottom: 5vw;
  position: relative;
}

.soft {
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
  animation-timeline: view(50% 40%);
  bottom: 5vw;
  position: relative;
}

p {
  position: relative;
  animation: fade-in 0.5s ease-out forwards;
  animation-timeline: view(65% 10%);
  bottom: 5vw;
  opacity: 0;
}

.down {
  margin-top: 10vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;   
    transform: translateY(5vw);
  }
}
