<main>
  <h2>My projects</h2>
  <p class="subtitle">Selected work</p>
  <ul>
    @for (project of projects; track $index) {
      <li [ngStyle]="{ order: projects.length - $index}">
        <a (click)="toProject($index)">
          <button type="button">
            <img [ngSrc]="project.shortcut" fill priority alt="Project shortcut">
          </button>
          <div>
            <p>{{project.title}}</p>
            <p>{{project.activeLink}}</p>
          </div>
        </a>
      </li>
    }
  </ul>
</main>
