@import '../../../assets/styles/colors';
@import '../../../assets/styles/responsive';

button {
  position: relative;
  width: 18vw;
  height: 18vw;
  @include tablet-size {
    height: 22vw;
    width: 22vw;
  }
}

main {
  padding: 10vw 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include tablet-size {
    padding: 15vw;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

li:hover {
  transform: translateY(-1vw);
  transition: all 0.4s;
}

.subtitle {
  margin-bottom: 2.5vw;
}

h2 {
  margin-bottom: 0.5vw;
}

div {
  padding: 1vw;
  background-color: $second-color;
}
