@import '../assets/styles/colors';
@import '../assets/styles/responsive';

.side {
  width: 30%;
  height: 100%;
  background-color: $third-color;
  align-self: flex-end;
  @include phone-size {
    width: 40%;
  }
}

h2, button {
  position: absolute;
  z-index: 500;
}

button {
  width: 10vw;
  height: 10vw;
  margin-bottom: 30vh;
}
