@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/responsive';

section {
  padding: 10vw 15vw;
  display: flex;
  gap: 5vw;
  height: 50vw;
  @include tablet-size {
    flex-direction: column;
    height: auto;
  }
  @include phone-size {
    padding: 30vw 15vw;
  }
}

form {
  width: 70%;
  @include tablet-size {
    width: auto;
  }
}

.text {
  width: 30%;
  @include tablet-size {
    width: auto;
  }
}

button {
  padding: 1vw 1.5vw;
  border: 1px $forth-color solid;
  &:disabled {
    background-color: $second-color;
    color: $third-color;
  }
  &:enabled:hover {
    background-color: $forth-color;
    color: $second-color;
  }
}

input {
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

textarea {
  resize: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

input, textarea {
  margin-top: 1vw;
  margin-bottom: 2vw;
  min-height: 3vw;
  border-bottom: 1px solid $third-color;
  transition: all 1s;
  &:focus {
    border-bottom-color: $forth-color;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-family: 'sans-serif', 'SubTitles';
  font-size: 1.3vw;
  @include tablet-size {
    font-size: 2.5vw;
  }
  @include phone-size {
    font-size: 4vw;
  }
}

.inputs {
  display: flex;
  margin-bottom: 2vw;
  gap: 2vw;
  @include phone-size {
    flex-direction: column;
  }
}
