<section>
  <div class="text">
    <h1>Let's work together!</h1>
    <h2>Send me a message and we'll discuss it pretty soon!</h2>
  </div>
  <form 
      [formGroup]="form" 
      (ngSubmit)="submitForm()" 
    >
    <div class="inputs">
      <label>Your name
        <input type="string" placeholder="Enter your name" formControlName="name">
      </label>
      <label>Your email
        <input type="email" placeholder="Enter your email" formControlName="email">
      </label>
    </div>
    <label>Your message
      <textarea placeholder="Hi Kevin! I'm looking for someone who candesign and implement a user-friendly graphical interface. I would love to discuss the details with you. Looking forward to hear from you!" formControlName="message"></textarea>
    </label>
    <button type="submit" [disabled]="!form.valid">SEND >>></button>
  </form>
</section>
