<button type="button" class="burger" #burger (click)="toggleNav(burger, nav, overlay)">
  <img ngSrc="../../../assets/images/icons/burger.png" fill alt="Burger icon">
</button>

<nav #nav>
  <button type="button" class="icon">
    <img ngSrc="../../../assets/images/icons/kevin-logo.png" priority fill alt="kevin logo">
  </button>
  <div class="cont">
    <a routerLink="/">HOME</a>
    <a routerLink="/projects">PROJECTS</a>
    <a routerLink="/resume">RESUME</a>
  </div>
</nav>

<div class="overlay" #overlay (click)="toggleNav(burger, nav, overlay)"></div>
