button {
  width: 5vw;
  height: 5vw;
  position: relative;
}

nav {
  position: fixed;
  width: 100vw;
  padding: 3vw 2vw 0 7vw;
  justify-content: space-between;
  display: flex;
  z-index: 100;
}

div {
  display: flex;
  gap: 0.5vw;
}
