@import '../../../assets/styles/responsive';
@import '../../../assets/styles/colors';

.icon {
  width: 45px;
  height: 45px;
  position: relative;
  @include tablet-size {
    width: 8vw;
    height: 8vw;
    align-self: center;
    margin-bottom: 3vw;
  }
  @include phone-size {
    width: 12vw;
    height: 12vw;
  }
}

nav {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 0 10px #0000001a;
  width: 100vw;
  padding: 0.8vw 10vw;
  justify-content: space-between;
  display: flex;
  z-index: 100;
  transition: all 0.5s;
  left: 0;
  @include tablet-size {
    padding: 4vw 2vw 0 4vw;
    width: 30vw;
    height: 100vh;
    justify-content: start;
    flex-direction: column;
    background-color: $third-color;
    border-right: 1px solid $first-color;
    left: -30vw;
  }
  @include phone-size {
    width: 50vw;
    left: -50vw;
  }
}

.cont {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  @include tablet-size {
    flex-direction: column;
    gap: 3vw;
  }
}

a {
  height: fit-content;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 90;
  backdrop-filter: blur(37px);
  opacity: 0.3;
  display: none;
}

.burger {
  display: none;
  width: 5vw;
  height: 5vw;
  position: fixed;
  z-index: 80;
  margin: 3vw;
  @include tablet-size {
    display: block;
  }
  @include phone-size {
    width: 8vw;
    height: 8vw;
  }
}