@import './assets/styles/fonts';
@import './assets/styles/responsive';
@import './assets/styles/colors';

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  box-sizing: border-box;
  border-radius: 0;
  background-color: transparent;
  font-size: 1vw;
  color: $forth-color;
  // outline: 1px solid red;
  font-family: 'Main','sans-serif';
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @include tablet-size {
    font-size: 2.5vw;
  }
  @include phone-size {
    font-size: 5vw;
  }
}

img {
  display: block;
}

h1 {
  font-family: 'Titles', 'sans-serif';
  font-size: 3vw;
  margin-bottom: 1vw;
  @include tablet-size {
    font-size: 5vw;
  }
  @include phone-size {
    font-size: 9vw;
  }
}

h2 {
  font-family: 'SubTitles', 'sans-serif';
  font-size: 1.3vw;
  @include tablet-size {
    font-size: 4vw;
  }
  @include phone-size {
    font-size: 7vw;
  }
}

html {
  background-color: $first-color;
}

a {
  font-family: 'sans-serif', 'SubTitles';
  font-size: 1.2vw;
  @include tablet-size {
    font-size: 2.5vw;
  }
  @include phone-size {
    font-size: 5.3vw;
  }
}
