@font-face {
  font-family: 'SubTitles';
  src: url('../fonts/HelveticaNeueUltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Titles';
  src: url('../fonts/SFUIText-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Main';
  src: url('../fonts/HelveticaNeueThin.otf') format('opentype');
}
