$breakpoint-xs: 480px;
$breakpoint-s: 768px;
$breakpoint-md: 1024px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1900px;

@mixin x-small {
  @container (min-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin small {
  @container (min-width: #{$breakpoint-s}) {
    @content;
  }
}

@mixin medium {
  @container (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin large {
  @container (min-width: #{$breakpoint-l}) {
    @content;
  }
}

@mixin x-large {
  @container (min-width: #{$breakpoint-xl}) {
    @content;
  }
}
